################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
*.vspscc
*.dll
*.exe
*.pdb
*.nupkg
/bin
/.vs
/source/CompiledBindings.Core/bin
/source/CompiledBindings.Core/obj
/source/CompiledBindings.Tests/bin
/source/CompiledBindings.Tests/obj
/source/WPF/CompiledBindings/obj
/source/WPF/CompiledBindings.WPF/obj
/source/XF/CompiledBindings/obj
/source/XF/CompiledBindings.XF/obj
/source/MAUI/CompiledBindings/obj
/source/MAUI/CompiledBindings.MAUI/obj
/source/MAUI/MauiTest/.vs
/source/MAUI/MauiTest/bin
/source/MAUI/MauiTest/obj
/source/MAUI/CombiledBindings/obj
/source/WinUI/CompiledBindings.WinUI/obj
/source/WinUI/WinUITest/bin
/source/WinUI/WinUITest/obj
/source/WPF/WPFTest/bin
/source/WPF/WPFTest/obj
/source/XF/XFTest/.vs
/source/XF/XFTest/bin
/source/XF/XFTest/obj
/source/XF/XFTest.UWP/bin
/source/XF/XFTest.UWP/obj
/source/PerformanceCompareApp/obj
/source/PerformanceCompareApp/bin
