################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CompiledBindings
/bin
/source/CompiledBindings.Core/bin/Release
/source/CompiledBindings.Core/obj/Debug
/source/CompiledBindings.Core/obj/Release
/source/WPF/CompiledBindings/obj
/source/WPF/CompiledBindings.WPF/Nuget/nuget.exe
/source/WPF/CompiledBindings.WPF/obj
/source/XF/CompiledBindings/obj
/source/XF/CompiledBindings.XF/obj
/source/CompiledBindings.Core/obj/project.nuget.cache
/source/CompiledBindings.Core/obj/project.assets.json
/source/CompiledBindings.Core/obj
