################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CompiledBindings
/bin
/source/CompiledBindings.Core/bin/Release
/source/CompiledBindings.Core/obj/Debug
/source/CompiledBindings.Core/obj/Release
/source/WPF/CompiledBindings/obj
/source/WPF/CompiledBindings.WPF/Nuget/nuget.exe
/source/WPF/CompiledBindings.WPF/obj
/source/XF/CompiledBindings/obj
/source/XF/CompiledBindings.XF/obj
/source/CompiledBindings.Core/obj/project.nuget.cache
/source/CompiledBindings.Core/obj/project.assets.json
/source/CompiledBindings.Core/obj
/.vs
/source/CompiledBindings.Core/bin/Debug
/source/CompiledBindings.Tests/bin
/source/CompiledBindings.Tests/obj
*.user
*.vspscc
/source/WPF/WPFTest/bin/Debug
/source/WPF/WPFTest/obj
/source/XF/CompiledBindings.XF/Nuget/nuget.exe
/source/XF/CompiledBindings.XF/Nuget/CompiledBindings.XF.1.0.0.nupkg
/source/XF/XFTest/bin/Debug/netstandard2.0
/source/XF/XFTest/obj
/source/XF/XFTest.UWP/bin/x86/Debug
/source/XF/XFTest.UWP/obj
